USE_POSTGRES=False
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend
SECRET_KEY='your_secret_key_here'

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_brevo_smtp_login
EMAIL_HOST_PASSWORD=your_brevo_smtp_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@example.com
FRONTEND_URL=http://localhost:5173
